<%= form_for(@cardetail) do |f| %>
  <% if @cardetail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cardetail.errors.count, "error") %> prohibited this cardetail from being saved:</h2>

      <ul>
      <% @cardetail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :make_year %><br>
    <%= f.number_field :make_year %>
  </div>
  <div class="field">
    <%= f.label :make_car %><br>
    <%= f.text_field :make_car %>
  </div>
  <div class="field">
    <%= f.label :model %><br>
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
