<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @cardetail.image %>
</p>

<p>
  <strong>Make year:</strong>
  <%= @cardetail.make_year %>
</p>

<p>
  <strong>Make car:</strong>
  <%= @cardetail.make_car %>
</p>

<p>
  <strong>Model:</strong>
  <%= @cardetail.model %>
</p>

<p>
  <strong>Price:</strong>
  <%= @cardetail.price %>
</p>

<p>
  <strong>Price:</strong>
  <%= @cardetail.price %>
</p>

<%= link_to 'Edit', edit_cardetail_path(@cardetail) %> |
<%= link_to 'Back', cardetails_path %>
